.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  margin: 5px 0;
}

.filter p {
  font-weight: bold;
  font-size: 19px;
}

.select {
  width: 150px;
}

.selectContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.selectContainer span {
  font-weight: bold;
}
