.product {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  margin-top: 20px;
  color: #333;
  margin-bottom: 2rem;
}

.button {
  color: #6d28d9;
  background-color: #fff;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  padding: 5px 10px;
  font-size: 15px;
  transition: all 0.35s ease;
}

.inc {
  background-color: #ede9fe;
}

.value {
  display: flex;
  width: 25px;
  height: 25px;
  background-color: #ede9fe;
  color: #6d28d9;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.input {
  outline: none;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  padding: 5px;
  color: #444;
}

.input:focus {
  outline: 1px solid #6d28d9;
}

.remove {
  color: #ec4444;
  border: 1px solid #ec4444;
  background-color: #fff;
}
