.nav {
  width: 100%;
  background-color: #f6f6f6;
  padding: 15px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav h2 {
  font-size: 25px;
  line-height: 0.95em;
  margin-bottom: 4px;
}

.nav span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 27px;
  height: 27px;
  background-color: #d9d1fd;
  color: #6f27e4;
  font-weight: 600;
  margin-left: 1rem;
}
